
{{!-- NB: This has hard-coded social links alongside the admin UI controlled ones --}}

<div class="social-links">
    {{#if @site.facebook}}
        <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
    {{/if}}
    {{#if @site.twitter}}
        <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
    {{/if}}
    {{!-- add LinkedIn--}}
        <a class="social-link social-link-li" href="https://www.linkedin.com/in/kevinwhelan/" title="LinkedIn" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
    {{!-- end add --}}
</div>